::-webkit-scrollbar { 
    display: none; 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #17181b;
    color: #9a9b9d;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    user-select: none;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 34px;
}

.nav {
    height: 28px;
    width: 100%;
    background-color: #16171a;
    position: fixed;
    box-shadow: 0px 1px 1px #08090a;
    display: flex;
    z-index: 1;
}

.nav a {
    flex: 1;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    color: #9a9b9d;
}

.selected .fas {
    color: #2973e7;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}

.video-card {
    width: 25%;
    padding: 1%;
    border-radius: 4px;
    position: relative;
    transition: .3s, all, ease;
}

.video-card:hover {
    transform: scale(1.04);
}

.fa-play-circle {
    position: absolute;
}

.video-poster {
    border-radius: 2px;
    height: 180px;
    width: 120px;
}

/* Styling movies details */
.movie-details-main {
    padding-top: 3px;
    display: flex;
}

.movie-title {
    font-size: large;
    font-weight: bold;
    flex: 1;
    margin-bottom: 1px;
}

.movie-poster-big {
    border-radius: 1px;
    height: 228px;
}

.poster {
    flex: 1;
    height: 228px;
}

.info-subtitle {
    font-size: smaller;
    display: flex;
    flex: 1;
    align-items: baseline;
    margin-bottom: 2px;
}

.movie-plot {
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    font-weight: lighter;
}

.movie-watch {
    flex: 1;
    display: flex;
    align-items: center;
}

span.sub-part {
    margin-right: 6px;
}

a.ic-btn {
    text-decoration: none;
    color: #eff1f4;
    background-color: #1565C0;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
}

a.cant-ic-btn {
    text-decoration: none;
    color: #eff1f4;
    background-color: rgb(158, 7, 27);;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
}

.movie-info {
    flex: 3;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
}

/* Style the tv shows section */
.tv-show-details {
    padding-top: 3px;
    display: flex;
}

.tv-poster {
    flex: 1;
    height: 228px;
}

.short-tv-episodes {
    display: flex;
    flex: 8;
    flex-direction: column;
}

.long-tv-episodes {
    display: flex;
    flex-direction: column;
}

.episodes-view {
    display: flex;
    height: 45px;
    padding-bottom: 4px;
}

.episode-info {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.episode-details {
    font-weight: lighter;
    font-size: small;
    display: flex;
    align-items: center;
}

.fa-circle {
    font-size: 3px;
    padding-right: 4px;
}

.episode-play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

a.episode-play-btn {
    text-decoration: none;
    color: #eff1f4;
    background-color: #1565C0;
    text-align: center;
    border-radius: 2px;
    line-height: 25px;
    padding: 0 12px;
    cursor: pointer;
}

a.episode-cant-play-btn {
    text-decoration: none;
    color: #eff1f4;
    background-color: rgb(158, 7, 27);
    text-align: center;
    border-radius: 2px;
    line-height: 25px;
    padding: 0 12px;
    cursor: pointer;
}

.episode-details p {
    padding-right: 4px;
}

/* Pick device view */
.watchit-container {
    display: flex;
    flex-direction: column;
}

.pick-device {
    flex: 1;
    font-size: large;
    font-weight: bold;
}

.devices-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.device-name {
    font-weight: bold;
}

.fa-arrow-left{
    text-decoration: none;
    color: #9a9b9d;
}

/* Settings */
.settings-container {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 8px;
}

.settings-view {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.setting-sub-title {
    font-size: small;
}

form.auth {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input[type=text], input[type=password], .auth-submit {
    margin: 2px
}

input[type=submit] {
    background-color: #1565C0;
    border: none;
    color: #eff1f4;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: small;
    outline: none;
}